@media (min-width: 740px) {
    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: none;
        padding: 0;
    }

    nav a {
        border: none;
    }
}