@media screen and (min-width: 780px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    #layout {
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a:hover {
        background-color: rgb(16, 43, 81);
        ;
        color: white;
        font-weight: 700;
    }
}