@media (min-width: 550px) {
    main {
        position: relative;
        padding: 0;
        background-color: var(--accent_color2);
    }

    figure {
        position: relative;
        z-index: 1;
    }

    .heroImage img {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .data,
    .weather {
        position: absolute;
        background-color: white;
        opacity: 0.85;
        color: black;
        border-radius: 20px;
        padding: 2rem;
        margin: 0;
    }

    .data {
        top: 20%;
        left: 10%;
        width: 30%;
    }

    .weather {
        top: 20%;
        right: 10%;
        width: 30%;
    }

    .data h2,
    .weather h2 {
        background-color: lightblue;
        color: black;
        position: relative;
        text-align: left;
        padding: 0 0 0 1rem;
        margin-bottom: 1rem;
    }

    .weather h2::after {
        display: none;
    }
}