:root {
    --korea-red: #CD2E3A;
    --korea-blue: #0047A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

body {
    font-family: Roboto, sans-serif;
}

main {
    position: relative;
    background-color: var(--korea-blue);
}

header {
    text-align: center;
    background-color: var(--korea-blue);
    padding: 2rem;
    color: white;
    border-bottom: 10px solid var(--korea-red);
}

footer {
    padding: 1rem;
    color: white;
    background-color: var(--korea-blue);
    text-align: center;
    border-top: 10px solid var(--korea-red);
}

.data,
.weather {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    text-align: center;
    z-index: 10;
}

.weather h2::after {
    display: block;
    width: 15%;
    margin: auto;
}

.icon-img {
    display: block;
    margin: 0 auto;
    width: 150%;
}

#chill-button {
    text-align: center;
    margin-top: 0.5rem;
}

.heroImage {
    position: relative;
}


.heroImage img {
    width: 100%;
    height: 75%;
}

.data {
    top: 20%;
    left: 7%;

}

.weather {
    top: 40%;
    right: 7%;
}

.pad {
    padding-bottom: 1rem;
}


@media (max-width: 600px) {

    main {
        position: relative;
        padding: 1rem;
    }

    .data,
    .weather {
        position: relative;
        width: 100%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.85);
        margin-top: 10px;
        text-align: center;
    }

    .data {
        margin-top: 15px;
    }

    .weather {
        margin-top: 15px;
    }

    .heroImage img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}